# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
env/

# Django
*.sqlite3
db.sqlite3
/media/
*.log

# Pytest
.pytest_cache/
.coverage

# IDE/editor files
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.egg-info/
*.egg
dist/
build/

# macOS
.DS_Store
